<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>baas-admin</display-name>
 <filter>
  <description>Filtro para cuando un usuario este logueado, que vaya al index</description>
  <display-name>FilterLoggedInUser</display-name>
  <filter-name>FilterLoggedInUser</filter-name>
  <filter-class>uy.com.group05.baasadmin.pl.controllers.FiltroDeslogueado</filter-class>
 </filter>
 <filter>
  <description>Filtro para que si no esta logueado, se loguee</description>
  <display-name>FiltroLogueado</display-name>
  <filter-name>FiltroLogueado</filter-name>
  <filter-class>uy.com.group05.baasadmin.pl.controllers.FiltroLogueado</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>FilterLoggedInUser</filter-name>
  <url-pattern>/index.xhtml</url-pattern>
 </filter-mapping>
  <filter-mapping>
  <filter-name>FiltroLogueado</filter-name>
  <url-pattern>*.xhtml</url-pattern>
 </filter-mapping>
 <servlet>
  <servlet-name>facesServlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>facesServlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.xhtml</welcome-file>
 </welcome-file-list>
</web-app>
