.rolesBox, .clientsBox, .entityBox, .pushBox {
	width: 45%;
	float: left;
	margin: 1.5%;
}

.h1Title{
	margin-left: 3%;
    text-transform: capitalize;
}


.rolSecret label {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 0.5%;
}

.buttonAdd {
    float: left;
    margin-left: 5%;
}


.tablaAdd {
    float: left;
    
}

.chartType {
    float: right;
 
}