<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uy.com.group05.baasclient.trueques"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>/
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="uy.com.group05.baasclient.trueques.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uy.com.group05.baasclient.trueques.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="uy.com.group05.baasclient.trueques.Loginctivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uy.com.group05.baasclient.trueques.Loginctivity" />
        </activity>
        <activity
            android:name="uy.com.group05.baasclient.trueques.MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName="uy.com.group05.baasclient.trueques.LoginActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uy.com.group05.baasclient.trueques.LoginActivity" />

        </activity>
        <activity
            android:name="uy.com.group05.baasclient.trueques.SubmitActivity"
            android:label="@string/title_activity_submit"
            android:parentActivityName="uy.com.group05.baasclient.trueques.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uy.com.group05.baasclient.trueques.MainActivity" />

        </activity>
    </application>
    

</manifest>
